:root {
	--color-bg:           #111;
	--color-surface:      #16191c; /* #2e343b */
	--color-text:         #fff;
	--color-text-subdued: #ccc;
	--color-text-dark:    #19155B;
	--color-interactive:  #b473f7;
	--color-focus:        #FFD900;

	--page-width: 55rem;

	--fontfamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--fontfamily-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	--fontsize-base: 1rem;
	--fontsize-smallscreen: 1.4rem;
}
