/*
 * Global variables
 */
:root {
	--bg-color:         #1C65F8;
	--bg-color-shade:   #5C0ACA;
	--text-color:       #EEEEEE;
	--text-color--dark: #19155B;
	--action-color:     #3DFCB3;
	--focus-color:      #FFD900;
	--title-color:      #FFFFFF;

	--page-width: 55rem;

	--base-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--code-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

	--base-font-size: 1.4rem;
}


/*
 * Helper classes
 */
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/**
 * Resets
 */
img {
	max-width: 100%;
}

.content-area {
	margin-top: 2rem;
}

.content-area img {
	border-radius: 0.25rem;
	width: 40rem;
	margin: 2rem auto;
	display: block;
	box-shadow: 0 0 2rem 0.2rem rgba( 0, 0, 0, 0.2 );
}

/* Stop the harmonograph from overflowing */
html {
	max-width: 100%;
	overflow-x: hidden;

	font-size: 16px;
	color: var( --text-color );

	font-family: var( --base-font );
	font-weight: 300;
	line-height: 1.5;
}

/*
 * Body appearance
 */
body {
	padding: 1rem 1rem 5rem 1rem;
	margin: 0;

	max-width: 100%;
	overflow-x: hidden;
}


@media ( min-width: 600px ) {
	body {
		font-size: var( --base-font-size );
		padding: 1rem 1.5rem 5rem 1.5rem;
	}
}


/**
 * Gradient BG
 */
.gradient-bg {
	background: var( --bg-color );
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}


/**
 * Footer
 */
footer {
	padding: 0 0 2rem 0;
	margin-top: 4rem;
	font-size: 1rem;
}

footer .list {
	float: left;
}

footer .list + p {
	margin: 0;
	float: right;
	padding: 0.25rem 0;
}

footer .list a {
	padding: 0.25rem;
	border-radius: 0.25rem;
	text-decoration: none;
}

footer .list a:hover {
	background: rgba( 0, 0, 0, 0.4 );
}

/**
 * Header
 */
header {
	padding-top: 1rem;
	position: relative;
	z-index: 1;
}

.header__left {
	float: left;
}

.header__right {
	float: right;
}

@media ( min-width: 600px ){
	header {
		padding-top: 2rem;
	}
}


/**
 * Content
 */
.container {
	position: relative;
	max-width: var( --page-width );
	margin: 0 auto;
}


/*
 * Typograhpy
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var( --title-color );
}

h1 {
	font-size: 2.5rem;
	line-height: 1.3;
}

* + h1 {
	margin-top: 2rem;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.3;
}

* + h2 {
	margin-top: 3.5rem;
}

* + h3 {
	margin-top: 3rem;
}

* + p {
	margin-top: 1rem;
}

blockquote + p {
	margin-top: 2rem;
}

@media ( min-width: 600px ) {
	h1 {
		font-size: 3.5rem;
	}
}

@media ( min-width: 800px ) {
	h1 {
		font-size: 5rem;
	}
}


/*
 * Link styles
 */
a {
	color: var( --action-color );
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-skip: ink;
	color: var( --text-color );
}

*:focus {
	outline: solid 3px var( --focus-color );
	outline-offset: 4px;
}

/**
 * List
 */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list--small {
	font-size: 1rem;
}

.list--inline > li {
	display: block;
	float: left;
}

.list--inline > li > a {
	display: block;
}

.list--inline > li + li {
	margin-left: 0.5rem;
}

/**
 * Main menu
 */
.main-menu {
	font-size: 0.95rem;
	margin-bottom: 7rem;
}

@media ( min-width: 600px ) {
	.main-menu {
		font-size: 1.2rem;
	}
}

.main-menu a {
	color: var(--text-color);
	padding: 0.5rem;
	border-radius: 3px;
}

.main-menu a.active,
.main-menu a:hover,
.main-menu a:focus {
	background: rgba( 0, 0, 0, 0.3 );
}

.main-menu ul {
	float: right;
}

.main-menu ul > li + li {
	margin-left: 0.25rem;
}

.main-menu__logo {
	float: left;
}

.main-menu__logo img {
	position: relative;
	top: 1px;
	height: 0.9em;
	margin-right: 0.5rem;
}

/**
 * Content header
 */
.harmonograph {
	position: relative;
	z-index: 10;
}

.harmonograph #harmonograph {
	position: absolute;
	right: -1rem;
	top: -5rem;
	max-width: 15rem;
	width: 50%;
}


/* Profile picture */
.profile-pic {
	display: block;
	max-width: 30%;
	width: 10rem;
	margin-top: -5rem;
	border-radius: 3px;
	box-shadow: 0 0 2rem 0.2rem rgba( 0, 0, 0, 0.2 );
}


/**
 * Blockquote
 */
blockquote {
	margin: 0;
	padding-left: 1.5rem;
	position: relative;
}

* + blockquote {
	margin-top: 1.5rem;
}

blockquote:before {
	border-left: solid 0.25rem var( --action-color );
	border-radius: 5px;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

h1 + blockquote {
	font-weight: normal;
	font-size: 1.1rem;
}

@media( min-width: 600px ){
	blockquote {
		padding-left: 2rem;
	}

	h1 + blockquote {
		font-size: 1.6rem;
	}
}


/**
 * Horizontal rule
 */
hr {
	position: relative;
	border: 0;
	border-top: 2px solid var( --text-color );
	border-radius: 5px;
	margin: 2.5rem 0;
}


/**
 * Code
 */
code {
	font-family: var( --code-font );
	font-size: 1rem;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-weight: 100;

	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	tab-size: 2;

	hyphens: none;
}

.content pre {
	margin: 2rem -1.5rem;
	overflow-x: auto;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 1rem  1.5rem;
	line-height: 1;
}

pre code {
	padding: 0;
	background: transparent;
}

@media ( min-width: 600px ){
	.content pre {
		margin-left: -2rem;
		margin-right: -2rem;
		padding: 2rem;
	}
}


/**
 * Video embed
 */
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	border-radius: 0.5rem;
	z-index: 15;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 0;
}

.embed-responsive + main {
	margin-top: 2rem;
}

/**
 * Card
 */
.card {
	margin-top: 1.5rem;
	padding: 1.5rem 1.5rem 3rem 1.5rem;
	display: block;
	background: rgba( 0, 0, 0, 0.4 );
	position: relative;
}



main > .card > .list--inline > li {
	float: none;
	margin-left: 0;
}

main > .card > .list--inline > li + li {
	margin-top: 0.5rem;
}

main > .card + .card {
	padding-bottom: 1.5rem;
}

a.card {
	color: #fff;
}

@media ( min-width: 600px ) {
	.card {
		margin-top: 1.5rem;
		padding: 2rem 2rem 4rem 2rem;
	}

	main > .card > .list--inline > li {
		float: left;
	}

	main > .card > .list--inline > li + li {
		margin-left: 0.5rem;
		margin-top: 0;
	}

	main > .card + .card {
		padding-bottom: 2rem;
	}
}

/**
 * Card list
 */
.card-list {
	display: grid;
	grid-column-gap: 1.5rem;
	grid-template-columns: 1fr;
}

.card-list h2 {
	font-size: 1.4rem;
}

.card-list * + h2 {
	margin-top: 1rem;
}

.card-list > li {
	display: grid;
}

@media ( min-width: 600px ) {
	.card-list {
		grid-template-columns: 1fr 1fr;
	}

	.card-list h2 {
		font-size: 1.8rem;
	}
}

* + .back-to-page {
	display: inline-block;
	margin-top: 2rem;
}
