/**
 * Card
 */
/* .card {
	margin-top: 1.5rem;
	padding: 1.5rem 1.5rem 3rem 1.5rem;
	display: block;
	background: rgba( 0, 0, 0, 0.4 );
	position: relative;
}

a.card {
	color: #fff;
}

@media ( min-width: 600px ) {
	.card {
		margin-top: 1.5rem;
		padding: 2rem 2rem 4rem 2rem;
	}
}

/* Card */
.card {
	box-shadow: 0 0 2rem 0.5rem rgba( 0, 0, 0, 0.2 );
	border-radius: 0.5rem;
}

a.card {
	transition: transform 0.1s ease-in-out;
}

a.card:hover {
	text-decoration: none;
	transform: scale( 1.02 );
}

a.card:active {
	transform: none;
}

a.card:hover h2 {
	text-decoration: underline;
} */
