code {
	font-family: var( --font-code );
	font-size: 1rem;
	background: var(--color-bg-subdued);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-weight: 100;

	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	tab-size: 2;

	hyphens: none;
}

.content pre {
	margin: 2rem -1.5rem;
	overflow-x: auto;
	background: var(--color-bg-subdued);
	padding: 1rem  1.5rem;
	line-height: 1;
	border-radius: 0.5rem;
}

pre code {
	padding: 0;
	background: transparent;
}

@media ( min-width: 600px ){
	.content pre {
		margin-left: -2rem;
		margin-right: -2rem;
		padding: 2rem;
	}
}


/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99;
}

.token.punctuation {
	color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	color: #a67f59;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
