html {
	max-width: 100%;
	overflow-x: hidden;

	font-size: 18px;
	color: var( --color-text );
	background-color: var(--color-bg);

	font-family: var(--font);
	font-weight: 300;
	line-height: 1.5;
}

@media ( min-width: 600px ) {
	html {
		font-size: 22px;
	}
}


body {
	margin: 0;
	padding: 2.5rem 1rem 3.5rem 1rem;
}

::selection {
	background-color: var(--color-bg-selection);
}


img::selection,
video::selection,
iframe::selection {
	background-color: var(--color-bg-selection);
}

*:focus {
	outline: solid 3px var(--color-focus);
	outline-offset: 4px;
}

*:focus:active {
	outline: none;
}
