.container {
	max-width: var(--width-page);
	margin: 0 auto;
}

main {
	margin-top: 1.5rem;
}

footer {
	margin-top: 3rem;
}

footer ul + .logo {
	margin-top: 1.5rem;
}

.layout--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
