* + .picture {
	margin-top: 1.5rem;
}

.picture--container {
	position: relative;
	display: inline-block;
}

.pattern {
	position: absolute;
	top: -1rem;
	right: -1rem;
	word-wrap: break-word;
	text-align: right;
	font-size: 0.75rem;
	color: var(--color-decorative-1);
	width: 3rem;
	font-family: arial, sans-serif;
}

.pattern:before {
	content: "▓▓▓░░░░░░░▓▓▓░░░▓▓▓░";
}

.pattern:last-of-type {
	color: var(--color-decorative-2);
	width: 3.2rem;
}

.pattern:last-of-type:before {
	content: "░░░░▓▓▓▓▓░░░░░░░";
}
