.picture > span {
	position: relative;
	display: inline-block;
}

.picture > span:before,
.picture > span:after {
	position: absolute;
	top: -1rem;
	right: -1rem;
	word-wrap: break-word;
	text-align: right;
	font-size: 1.4rem;
}

.picture > span:before {
	color: fuchsia;
	content: "▓▓▓░░░░░░░▓▓▓░░░▓▓▓░░░░░";
	width: 5rem;
}

.picture > span:after {
	color: aqua;
	content: "░░░░▓▓▓▓▓░░░░░░░░░░░░";
	width: 4rem;
}
