.skip-link {
	padding: 0.5rem 1rem;
	z-index: 100;
	color: var(--color-text-dark);
	background-color: var(--color-text);
}

.skip-link,
.skip-link:hover {
	color: var(--color-text-dark);
}

.skip-link:focus {
	width: auto;
	height: auto;
	clip: auto;
	overflow: visible;
}
