h1 {
	font-size: 3.2rem;
	line-height: 1.3;
}

* + h1 {
	margin-top: 1.5rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 1.3;
}

h3,
.h3 {
	font-size: 1.2rem;
}

* + h2 {
	margin-top: 2.5rem;
}

* + h3 {
	margin-top: 2rem;
}

.text--small {
	font-size: 0.8rem;
}

h3 + p,
.h3 + p {
	margin-top: 0.5rem;
}

* + p {
	margin-top: 1rem;
}

blockquote + p {
	margin-top: 1.5rem;
}

a {
	color: var(--color-interactive);
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-skip: ink;
	color: var(--color-text);
}

blockquote {
	margin: 0;
	padding-left: 2rem;
	position: relative;
}

* + blockquote {
	margin-top: 1.5rem;
}

blockquote:before,
blockquote:after {
	border-left-style: solid;
	border-left-width: 0.5rem;
	border-radius: 0.5rem;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	mix-blend-mode: var(--decorative-blend);
}

blockquote:before {
	border-color: var(--color-decorative-1);
	transform: translateY(-0.25rem);
}

blockquote:after {
	border-color: var(--color-decorative-2);
	transform: rotate(5deg);
}

h1 + blockquote {
	font-size: 1.2rem;
}

hr {
	position: relative;
	border: 0;
	margin: 2.5rem 0;
	text-align: center;
	color: var(--color-text);
}

hr:before {
	content: "・ ・ ・";
}

.text--subdued {
	color: var(--color-text-subdued);
}

.text--center {
	text-align: center;
}
