<ul class="header text-subdued">
	<li>
		<img src="/images/me.jpg" alt="{{ item.alt }}" />
		<div>
			<span>Alex Page, Developer</span>
		</div>
	</li>
	<li class="text-subdued">
		<img src="/images/van.jpg" alt="{{ item.alt }}" />
		<div class="inline">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				stroke="currentColor"
				viewBox="0 0 24 24"
				width="1em"
				height="1em"
				stroke-width="2"
			>
				<path
					d="m17.7 16.7-4.3 4.2a2 2 0 0 1-2.8 0l-4.3-4.2a8 8 0 1 1 11.4 0z"
				/>
				<path d="M15 11a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
			</svg>
			<span>Vancouver, BC</span>
		</div>
	</li>
	<li>
		<div class="hm-container gradient-blue">
			<img
				src="https://api.harmonograph.art/93C5FD/ffffffff/2"
				alt="{{ item.alt }}"
			/>
		</div>
		<div>
			<span>harmonograph.art</span>
		</div>
	</li>
</ul>
