<div class="main-menu">
	<a class="main-menu__logo{% if page.url == "/" %} active{% endif %}" href="/">
		<img alt="logo" src="/assets/img/logo.svg" />Alex Page
	</a>
	<ul class="menu menu--inline">
		<li>
		</li>
		{%- for landingPage in collections.landingPages -%}
			<li>
				<a href={{landingPage.url}} {% if landingPage.url in page.url %}class="active"{% endif %}>{{ landingPage.data.pagetitle }}</a>
			</li>
		{%- endfor -%}
	</ul>
</div>
