<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<meta name="robots" content="index, follow" />
<meta name="author" content="Alex Page" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Alex Page" />
<meta name="twitter:description" content="{{ summary }}" />
<meta name="twitter:name" content="Alex Page" />
<meta name="twitter:image" content="http://alexpage.dev/images/site.jpg" />
<meta name="Description" content="I lead multidisciplinary teams, build communities and create design systems with modern technology and thoughtful design." />
