<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/site.webmanifest">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#06262d">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
	<meta name="msapplication-TileColor" content="#24292e">
	<meta name="theme-color" content="#24292e">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Alex Page">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Alex Page">
	<meta name="twitter:description" content="Modern technology and thoughtful design - Alex Page">
	<meta name="twitter:name" content="Alex Page">
	<meta name="twitter:image" content="http://alexpage.com.au/assets/favicons/alex-page.jpg">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Alex Page">
	<meta property="og:site_name" content="Alex Page">
	<meta property="og:description" content="Modern technology and thoughtful design - Alex Page">
	<meta name="Description" content="{% if summary %}{{ summary }}{% else %}I am a developer specialising in design systems, JavaScript, open-source and accessibility. I love solving problems at scale with systemisation, automation, modern technology and thoughtful design.{% endif %}">
	<meta property="og:image" content="http://alexpage.com.au/assets/favicons/alex-page.jpg">
	<meta property="og:url" content="http://alexpage.com.au">
	<title>{{ pagetitle }} - Alex Page</title>
	{% set basecss %}{% include 'css/base.css' %}{% endset %}
	<style>{{ basecss | cssmin | safe }}</style>
	{% set basejs %}{% include 'js/base.js' %}{% endset %}
	<script>{{ basejs | jsmin | safe }}</script>
</head>
<body>
	<div class="container">
		<a class="skip-link sr-only" href="#content">Skip to content</a>
		<!-- The default header block -->
		<header class="header clearfix">
			{% include 'main-menu.njk' %}
		</header>

		<!-- The harmonograph -->
		{% block content_header %}
		<div class="content-header">
			{% if emoji %}
			<div class="content-header_right">{{emoji}}</div>
			{% else %}
			<div id="harmonograph" class="content-header_right"></div>
			{% endif %}
		</div>
		{% endblock %}

		<!-- The main content area -->
		<main class="content" id="content">
			<div class="card">
				<!-- Home page -->
				{% block page_title %}
				<h1>{{ pagetitle }}</h1>
				{% endblock %}
				{% if summary %}
					<blockquote>{{ summary }}</blockquote>
				{% endif %}
				{% block main %}
					<div class="content-area">
						{{ content | safe }}
					</div>
				{% endblock %}
			</div>
			{% block after_main %}{% endblock %}
			{% block listing %}
				<ul class="list card-list">
				{%- for item in collections.featured | reverse -%}
					<li>
						<a class="card" href="{{ item.url }}">
							<ul class="clearfix list list--inline list--small">
								<li>Featured {{ item.data.tags | tagSection }}</li>
								{%if 'projects' in item.data.tags %}
								<li>
									<img class="icon icon--small" src="/assets/icons/star.svg" alt="star">
									<span>{{ data.stars[ item.data.github ] | prettyNumber }}</span>
									<span class="sr-only"> stars</span>
								</li>
								{% if item.data.npm %}
								<li>
									<img class="icon icon--small" src="/assets/icons/download.svg" alt="star">
									<span>{{ data.downloads[ item.data.npm ] | prettyNumber }}</span>
									<span class="sr-only"> downloads last year</span>
								</li>
								{% endif %}
								{% endif %}
							</ul>

							<h2>{{ item.data.pagetitle }}</h2>
							<p>{{ item.data.summary }}</p>
						</a>
					</li>
				{%- endfor -%}
				</ul>
			{% endblock %}
		</main>

		<!-- The footer -->
		<footer>
			{% include 'social-menu.njk' %}
			<p>Thanks for visiting 🤜✨🤛</p>
		</footer>
	</div>
	<div class="gradient-bg"></div>
	{% set extracss %}{% include 'css/extra.css' %}{% endset %}
	<style>{{ extracss | cssmin | safe }}</style>
	{% set extrajs %}{% include 'js/extra.js' %}{% endset %}
	<script>{{ extrajs | jsmin | safe }}</script>
	{%block page_end %}{% endblock %}
</body>
</html>
