{% extends 'page.njk' %}

{% block page_title %}
<ul class="clearfix list list--small list--inline">
	<li>
		<svg class="icon icon--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="var(--focus-color)" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{ data.stars[ github ] | prettyNumber }}
		<span class="sr-only"> stars</span>
	</li>
	{% if npm %}
	<li>
		<svg class="icon icon--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="var(--focus-color)" d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/></svg>
		{{ data.downloads[ npm ] | prettyNumber }}
		<span class="sr-only"> downloads last year</span>
	</li>
	<li>
		<code>npm i {{ npm }}</code>
	</li>
	{% endif %}
	<li>
		<a href="https://github.com/{{ github }}" target="_blank">
			<svg class="icon icon--small" xmlns="http://www.w3.org/2000/svg" viewBox='90 90 600 600'>
				<path fill="var(--title-color)" d='M400 139c144 0 260 116 260 260 0 115-75 213-178 247-9 3-17-2-17-13v-71c0-35-18-48-18-48 57-6 119-28 119-128 0-44-27-70-27-70s14-29-2-69c0 0-22-7-72 27-42-12-88-12-130 0-50-34-72-27-72-27-16 40-2 69-2 69s-27 26-27 70c0 100 62 122 119 128 0 0-14 10-17 35-15 7-53 18-76-22 0 0-13-25-39-27 0 0-26 0-2 16 0 0 17 8 29 38 0 0 16 51 88 35v44c0 11-9 16-18 13-103-34-178-132-178-247 0-144 116-260 260-260z'/>
			</svg>
			{{ github }}
		</a>
	</li>
</ul>
<h1>{{ pagetitle }}</h1>
{% endblock %}

{% block after_main %}
<div class="card">
	<a class="back-to-page" href="/{{ tags | tagTitle }}">← See more {{ tags | tagTitle }}</a>
</div>
{% endblock %}
