<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'meta.njk' %}
	<title>{{htmltitle if htmltitle else pagetitle}} - Alex Page</title>
	<style>{% cssBundle %}</style>
</head>
<body>
	<a class="skip-link sr-only" href="#content">Skip to content</a>
	<div class="container">
		{% include 'components/header.njk' %}
		<blockquote>{{summary}}</blockquote>
		<main id="#content">{{ content | safe }}</main>
	</div>
</body>
</html>
