<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'meta.njk' %}
		<title>Alex Page, Developer</title>
		<style>{% cssBundle %}</style>
	</head>
	<body>
		<a class="skip-link sr-only" href="#content">Skip to content</a>
		<div class="page">
			<h1><a href="/">Alex Page, Developer</a></h1>
			<main id="content">
				<content>
					{{ content | safe }}
				</content>

				{% if page.url == '/' %}
					<h2>Highlights</h2>
					{% include 'highlights.njk' %}
				{% endif %}
			</main>

			<footer class="text-sm center">
				<p>Learning in the open on <a href="https://twitter.com/alexpage_">Twitter</a> and <a href="https://github.com/alex-page">GitHub</a>. Send me an <a href="mailto:alex@alexpage.com.au">email</a>.</p>
				<img width="24px" height="24px" src="/images/favicon.svg" alt="logo">
			</footer>
		</div>
	</body>
</html>
