{% extends 'page.njk' %}

{% block page_title %}
	<ul class="menu menu--inline">
		<li>
			{{ github | githubStars }} stars
		</li>
		<li>
			<a href="https://github.com/{{ github }}" target="_blank">GitHub</a>
		</li>
		{% if npm %}
		<li>
			<a href="https://npmjs.org/package/{{npm}}"><code>npm i {{npm}}</code></a>
		</li>
		<li>{{ npm | packageDownloads }} downloads this week</li>
		{% endif %}
	</ul>
	<h1>{{ pagetitle }}</h1>
{% endblock %}
