<ul class="clearfix list list--inline">
	<li>
		<a href="mailto:alex@alexpage.com.au">
			<img class="icon" src="/assets/icons/mail.svg" alt="mail">
			<span class="sr-only">Get in contact</span>
		</a>
	</li>
	<li>
		<a href="https://github.com/alex-page">
			<img class="icon" src="/assets/icons/github.svg" alt="github">
			<span class="sr-only">See what i'm working on</span>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/aalexpaage">
			<img class="icon" src="/assets/icons/twitter.svg" alt="twitter">
			<span class="sr-only">See what i'm tweeting</span>
		</a>
	</li>
</ul>
