<div class="date text--small">
	<a href="/">
		<img src="/images/alex-page.jpg" width="50px" height="50px">
	</a>
	<div>
		<span>
		{{date.toLocaleDateString('en-US', {
			year: 'numeric',
			month: 'short',
			day: 'numeric'
		})}}
		</span>
		<a href="/">Alex Page</a>
	</div>
</div>

