<footer class="footer text--center">
	<ul class="list list--inline text--small">
		{% for item in footer.items %}
		<li>
			<a href="{{item.url}}">{{item.text}}</a>
		</li>
		{% endfor %}
	</ul>
	<p>
		<a href="/" class="logo">{% include 'components/logo.njk' %}</a>
	</p>
</footer>
