<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="robots" content="index, follow">
<meta name="author" content="Alex Page">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Alex Page">
<meta name="twitter:description" content="Modern technology and thoughtful design - Alex Page">
<meta name="twitter:name" content="Alex Page">
<meta name="twitter:image" content="http://alexpage.com.au/assets/favicons/alex-page.jpg">
<meta name="Description" content="{% if summary %}{{ summary }}{% else %}I am a developer specialising in design systems, JavaScript, open-source and accessibility. I love solving problems at scale with systemisation, automation, modern technology and thoughtful design.{% endif %}">