<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="icon" type="image/png" href="/images/favicon.png" />
<meta name="robots" content="index, follow" />
<meta name="author" content="Alex Page" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Alex Page" />
<meta name="twitter:description" content="{{ summary }}" />
<meta name="twitter:name" content="Alex Page" />
<meta name="twitter:image" content="http://alexpage.dev/images/site.jpg" />
<meta name="Description" content="{% if summary %}{{summary}}{% else %}I lead multidisciplinary teams, build communities and create systems with modern technology and thoughtful design. I am obsessed with user experience and write code that connects people to pixels.{% endif %}"/>
