<nav>
	<a class="logo{% if page.url == "/" %} active{% endif %}" href="/">
		{% include 'components/logo.njk' %}Alex Page
	</a>
	<ul class="list list--inline">
		{%- for menuItem in collections.mainMenuItems -%}
			<li>
				<a href="{{menuItem.url}}" {% if menuItem.url in page.url %}class="active"{% endif %}>{{ menuItem.data.pagetitle }}</a>
			</li>
		{%- endfor -%}
	</ul>
</nav>
