<p class="picture">
	<span>
		<img
			src="{{img.src}}"
			alt="{{img.alt}}"
			{% if img.width %}width="{{img.width}}"{% endif %}
			{% if img.height %}height="{{img.height}}"{% endif %}
		>
	</span>
</p>
