<div class="picture">
	<div class="picture--container">
		<img
			src="{{img.src}}"
			alt="{{img.alt}}"
			{% if img.width %}width="{{img.width}}"{% endif %}
			{% if img.height %}height="{{img.height}}"{% endif %}
		>
		<span class="pattern" aria-hidden="true">▓▓▓░░░░░░░▓▓▓░░░▓▓▓░░░░░</span>
		<span class="pattern" aria-hidden="true">░░░░▓▓▓▓▓░░░░░░░░░░░░</span>
	</div>
</div>
