.site-wrapper {
	@include AU-space( max-width, 50unit );
	@include AU-space( padding, 0 1unit );
	@include AU-space( margin, 2unit auto );
	@include AU-clearfix();
	position: relative;

	@include AU-media( sm ) {
		@include AU-space( margin, 5unit auto );
	}
}

.au-body a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Coming soon text
h3 em {
	font-weight: normal;
	@include AU-fontgrid( xs );
}

.au-body h3 + p {
	@include AU-space( margin-top, 0.5unit );
}

.au-body h1,
.au-body .au-display-xxl,
.au-display-xxl {
	font-size: 38px;
	font-size: 2.38rem;
}

@include AU-media( sm ) {
	.au-body h1,
	.au-body .au-display-xxl,
	.au-display-xxl {
		@include AU-fontgrid( xxl );
	}
}
