.header__me {
	@include AU-space( width, 10unit );
}

.au-body * + .header__logo {
	@include AU-space( margin-top, 3unit );
	@include AU-space( width, 5unit );
}

.header__top {
	@include AU-space( padding-bottom, 0.5unit );
	@include AU-space( border-bottom, 0.25unit solid $AU-colordark-foreground-text );
	@include AU-space( margin-bottom, 3unit );
}

.au-body .header__top__left {

	.header__home {
		@include AU-space( margin-right, 1unit );
	}

	code {
		position: relative;
		@include AU-space( top, -0.25unit );
		background-color: transparent;
		padding: 0;
		color: $AU-colordark-foreground-text;
	}
}

.header__top__right {
	@include AU-fontgrid( xs );
}

.au-body.au-body--dark .header__home {
	text-decoration: none;
	color: $AU-colordark-foreground-text;;
	display: inline-block;
}

.header__body {
	@include AU-space( margin-bottom, 4unit );
	@include AU-fontgrid( md );

	p {
		@include AU-space( max-width, 44unit );
	}
}

.header__top {
	@include AU-clearfix();
}

.header__top__left {
	float: left;
}
.header__top__right {
	float: right;
}

.header__npm {
	.header__top__left,
	.header__top__right {
		float: none;
	}

	@include AU-media( sm ) {

		.header__top__left {
			float: left;
		}
		.header__top__right {
			float: right;
		}
	}
}

