.social-menu {
	list-style: none;
	padding: 0;
	margin: 0;

	* + li {
		@include AU-space( margin-top, 0.5unit );
	}

	& > li {
		@include AU-clearfix();
		display: block;

		& > a:before {
			@include AU-space( margin-right, 0.5unit );
		}
	}

	&.social-menu--inline {
		@include AU-clearfix();

		& > li {
			@include AU-space( margin-right, 0.25unit );
			margin-top: 0;
			float: left;

			& > a {
				@include AU-space( width, 1.5unit );
				@include AU-space( height, 1.5unit );
			}
		}
	}

	&.social-menu--hide-text > li > a {
		overflow: hidden;
		text-indent: -999px;

		&:before {
			margin-right: 0;
		}
	}
}
