$AU-colordark-background:        #24292e;
$AU-colordark-foreground-text:   #fff;
$AU-colordark-foreground-action: #FFAB40;
$AU-colordark-foreground-focus:  #01FF70;


$AU-fontsize-map: (
	xs:   14,
	sm:   18,
	md:   22,
	lg:   28,
	xl:   40,
	xxl:  54,
	xxxl: 70
);


@import '_uikit';

@import '_reset';
@import '_a11ycolor';
@import '_social-menu';
@import '_icons';
@import '_body';
@import '_header';
@import '_code';
@import '_harmonograph';
@import '_presentation';
@import '_presentation-footer';
