<footer className="presenation__footer">
	<ul className="social-menu">
		{{
			items.map( ( item, key ) => (
				<li key={ key }>
					<a className={ 'icon icon--' + item.icon } href={ item.link }>{ item.text }</a>
				</li>
			))
		}}
	</ul>
	<a className="footer__logo" href="/">
		<img alt="Alex Page logo" src={{ _relativeURL( logo_pic, _ID ) }} />
	</a>
</footer>
