code {
	font-family: var( --code-font );
	font-size: 1rem;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-weight: 100;

	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	tab-size: 2;

	hyphens: none;
}

.content pre {
	margin: 2rem -1.5rem;
	overflow-x: auto;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 1rem  1.5rem;
	line-height: 1;
}

pre code {
	padding: 0;
	background: transparent;
}

@media ( min-width: 600px ){
	.content pre {
		margin-left: -2rem;
		margin-right: -2rem;
		padding: 2rem;
	}
}


/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
	