footer {
	padding: 0 0 2rem 0;
	margin-top: 4rem;
	font-size: 1rem;
}

footer .list {
	float: left;
}

footer .list + p {
	margin: 0;
	float: right;
	padding: 0.25rem 0;
}

footer .list a {
	padding: 0.25rem;
	border-radius: 0.25rem;
	text-decoration: none;
}

footer .list a:hover {
	background: rgba( 0, 0, 0, 0.4 );
}