header {
	padding-top: 1rem;
	position: relative;
	z-index: 1;
}

/* @media ( min-width: 600px ){
	header {
		padding-top: 2rem;
	}
}

.content-header {
	position: relative;
	z-index: 10;
}

.content-header .content-header_right {
	position: absolute;
	right: -1rem;
	top: -5rem;
	max-width: 15rem;
	width: 50%;
	text-align: center;
	font-size: 7rem;
} */

/* .profile-pic {
	display: block;
	max-width: 30%;
	width: 10rem;
	margin-top: -5rem;
	border-radius: 3px;
	box-shadow: 0 0 2rem 0.2rem rgba( 0, 0, 0, 0.2 );
} */